<div class="container">
    <div>
        <h1>About</h1>
        <p>
            Kiana's some web pages. Made with
            <a href="https://glitch.com" target="_blank">Glitch</a> and
            <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>
        </p>
        <p>
            Code licensed <a href="https://github.com/Kianakiferi/My-Web-Pages/blob/glitch/LICENSE" target="_blank">
                <span class="font-weight-bold text-body">GNU V3.0</span></a>
        </p>
    </div>
    <div>
        <h3 class="mt-4">WebPages</h2>
            <p>My web pages V0.0.2</p>
    </div>
    <div>
        <h3 class="mt-4">Bootstrap</h3>
            <p>Currently v4.6.0</p>
    </div>

</div>