<div class="container">
    <div class="mb-2">
        <h1>About</h1>
        <p>
            Kiana's some web pages. Made with
            <a href="https://glitch.com" target="_blank">Glitch</a> and
            <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>
            </br>
            Code licensed <a href="https://choosealicense.com/licenses/gpl-3.0/" target="_blank">
                <span class="font-weight-bold text-body">GNU GPLv3</span></a>
        </p>
    </div>
    <div class="mb-4">
        <h4>
            <a href="https://github.com/Kianakiferi/My-Web-Pages" target="_blank">
            <span class="font-weight-bold text-body">
                My Web Pages
            </span>
        </a>
    </h4>
        <p>Kiana. Currently v0.0.2</p>
    </div>
    <div class="mb-4">
        <h4>
            <a href="https://getbootstrap.com/" target="_blank">
            <span class="font-weight-bold text-body">Bootstrap</span>
        </a>
    </h4>
        <p>Currently v4.6.0</p>
    </div>
    <div class="mb-4">
        <h4>
            <a href="https://github.com/will-wyx/xbrz" target="_blank">
                <span class="font-weight-bold text-body">xBRZ in JavaScript</span>
            </a>
        </h4>
        <p>will-wyx. Currently v20.07</p>
    </div>
    <div class="mb-4">
        <h4>
            <a href="https://github.com/acornwall/PixelPerfect" target="_blank">
                <span class="font-weight-bold text-body">
                    PixelPerfect
                </span>
            </a>
        </h4>
        <p>acornwall. Currently v1.0.0</p>
    </div>
    <div class="mb-4">
        <div class="alert alert-danger" role="alert">
            <button class="btn btn-danger mr-2" onclick="OnNavigated('debug-tab')">Debug</button>
            DO NOT CLICK THIS BUTTON!
        </div>
    </div>
</div>S