<!-- Glitch Button -->
<div class="glitchButton float-right"></div>
<script src="https://button.glitch.me/button.js" defer></script>

<!-- Home Page -->
<div class="container">

    <div class="jumbotron text-center ">
        <h1 class="display-1 text-monospace p-lg-5">Hello, world!</h1>
        <p style="font-size: x-large;">
            I'm your cool new webpage. Made with <a href="https://glitch.com" target="_blank">Glitch</a> and <a href="https://getbootstrap.com
            " target="_blank">Bootstrap</a>!
        </p>
    </div>

    <div>
        <h2>Todo</h2>
        <hr class="mb-4" />

        <div class="card-columns">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    <p class="card-text">Web site</p>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Add visual styles</li>
                    <li class="list-group-item">Header navbar and footer</li>
                    <li class="list-group-item">Some pages</li>
                    <li class="list-group-item">Some placeholder contents</li>
                </ul>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">This Page</h5>
                    <p class="card-text">
                        As a home page, showing some basic info and styles.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
