<div class="container">
    <div>
        <h1>xBRZ Image Scale</h1>
    </div>
    <div class="row mt-4">
        <div class="col-sm" style="min-width: 20rem;">
            <div class="card">
                <div class="card-header">Settings</div>
                <div class="card-body">
                    <div class="custom-file">
                        <input id="inputPhoto" type="file" accept="image/png" class="custom-file-input"
                            onchange="FileInput" aria-describedby="inputPhotoAddon">
                        <label id="inputPhotoAddon" class="custom-file-label control-label" for="inputPhoto">Select
                            Image</label>
                        <p class="text-muted">Image size must small than 128x128.</p>
                    </div>

                    <div>
                        <div class="row mt-4">
                            <label class="col" for="sliderScale">Scale multiple </label>
                            <p class="col text-right" id="sliderScaleValueLable">3x</p>

                        </div>
                        <input type="range" class="custom-range" min="2" max="6" step="1" value="3"
                            oninput="SliderChange()" id="sliderScale">
                    </div>

                    <div>
                        <button type="button" class="btn btn-outline-primary btn-block mt-4"
                            onclick="buttonScaleClick()">Scale</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <canvas class="pixelperfect float-left rounded m-2" data-url="/images/Pixel/bookshelf.png" data-scale="16"></canvas>
            <!-- <img src="/images/Pixel/bookshelf.png" class="float-left rounded m-2"  width="128px" height="128px"></img> -->

            <canvas id="canvasScale" class="float-left rounded m-2"></canvas>
        </div>
    </div>

    <script type="module" src="/js/site.mjs"></script>
    
    <script>
        var sliderScale = document.getElementById('sliderScale');
        var sliderScaleValueLable = document.getElementById('sliderScaleValueLable');
        var multiple = 3;
        var displayScale = 3;

        function SliderChange() {
            sliderScaleValueLable.innerHTML = sliderScale.value + "x";
            console.log(sliderScale.value);
        };

        function buttonScaleClick() {
            

        }

    </script>

</div>